#container.variable-sizes
  - @projects.each do |p|
    - p[:types].each do |t|
      .element.nonmetal.width2
        .number num
        %h3.symbol symb
        %h2.name name
        %p.weight weight
