= haml :options

#container.variable-sizes.clickable.clearfix
  - @projects.each do |p|
    - p[:types].each do |t|
      .element.width2{class: t[:status], "data-category" => t[:status], "data-remote" => t[:href]}
        .number= p[:name]
        %h3.symbol= t[:name]
        %h2.name= t[:start]
        %p.weight
