!!!
%html
  %head
    %title Teamcity Radiator

    = bootstrap_assets

    %link(rel="stylesheet" href="css/isotope.css")
    %link(rel="stylesheet" href="css/styles.css")
    
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript")
    %script(src="js/jquery.isotope.min.js" type="text/javascript")
    %script(src="js/jquery.ba-bbq.min.js" type="text/javascript")
    
    %script(src="js/app.js" type="text/javascript")
  %body
    - container :fluid do
      - row do
        - span4 do
          = haml :burndown
        - span8 do
          = yield

